<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) My Context Menu Tools contributors. Licensed under the MIT License. -->
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
  xmlns:desktop5="http://schemas.microsoft.com/appx/manifest/desktop/windows10/5"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap10 com desktop4 desktop5 rescap">

  <Identity
    Name="MyContextMenuTools"
    Publisher="CN=xandfis"
    Version="0.1.0.0" />

  <Properties>
    <DisplayName>My Context Menu Tools</DisplayName>
    <PublisherDisplayName>xandfis</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.18362.0" MaxVersionTested="10.0.26200.0" />
  </Dependencies>

  <Resources>
    <Resource Language="en-us" />
  </Resources>

  <Applications>
    <Application Id="MyContextMenuTools"
      Executable="MyContextMenuTools.exe"
      EntryPoint="Windows.FullTrustApplication"
      uap10:TrustLevel="mediumIL"
      uap10:RuntimeBehavior="packagedClassicApp">
      <uap:VisualElements
        DisplayName="My Context Menu Tools"
        Description="Data driven Windows 11 context menu tools"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\MedTile.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\WideTile.png" />
      </uap:VisualElements>
      <Extensions>
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:SurrogateServer DisplayName="My Context Menu Tools">
              <com:Class Id="CB098F2B-3127-44A2-B301-580F6984C85D" Path="MyContextMenuToolsExplorerCommand.dll" ThreadingModel="STA" />
              <com:Class Id="CB098F2B-3127-44A2-B301-580F6984C85E" Path="MyContextMenuToolsExplorerCommand.dll" ThreadingModel="STA" />
              <com:Class Id="CB098F2B-3127-44A2-B301-580F6984C85F" Path="MyContextMenuToolsExplorerCommand.dll" ThreadingModel="STA" />
            </com:SurrogateServer>
          </com:ComServer>
        </com:Extension>
        <desktop4:Extension Category="windows.fileExplorerContextMenus">
          <desktop4:FileExplorerContextMenus>
            <desktop5:ItemType Type="*">
              <desktop5:Verb Id="MyContextMenuToolsRoot" Clsid="CB098F2B-3127-44A2-B301-580F6984C85D" />
            </desktop5:ItemType>
            <desktop5:ItemType Type="Directory">
              <desktop5:Verb Id="MyContextMenuToolsRoot" Clsid="CB098F2B-3127-44A2-B301-580F6984C85D" />
            </desktop5:ItemType>
            <desktop5:ItemType Type="Directory\Background">
              <desktop5:Verb Id="MyContextMenuToolsFolderBackgroundRoot" Clsid="CB098F2B-3127-44A2-B301-580F6984C85E" />
            </desktop5:ItemType>
          </desktop4:FileExplorerContextMenus>
        </desktop4:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
