<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) My Context Menu Tools contributors. Licensed under the MIT License. -->
<packages>
  <package id="Microsoft.Windows.CppWinRT" version="3.0.260715.1" targetFramework="native" />
  <package id="Microsoft.Windows.ImplementationLibrary" version="1.0.260126.7" targetFramework="native" />
</packages>
